apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: examhub-keyvault-secrets
spec:
  provider: azure
  secretObjects:
  - secretName: examhub-secrets
    type: Opaque
    data:
    - objectName: DATABASE-URL
      key: DATABASE_URL
    - objectName: SECRET-KEY
      key: SECRET_KEY
  parameters:
    usePodIdentity: "false"
    useVMManagedIdentity: "true"
    userAssignedIdentityID: "c0b4e358-9a0b-4f63-98d8-fed289da73e2"
    keyvaultName: examhub-keyvault
    tenantId: "42eb4684-c104-47a5-a4ca-373196ed8dba"
    objects: |
      array:
        - |
          objectName: DATABASE-URL
          objectType: secret
        - |
          objectName: SECRET-KEY
          objectType: secret
